@using NutriVaSe.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Iniciar Sesion";
}


<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
        {

            <fieldset>
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                  
                </div>
                <div class="form-group">

                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)

                </div>
                
                    <input type="submit" value="Acceder" class="btn btn-success btn-block" />
                
                @*<p>
                    @Html.ActionLink("Crear una nueva cuenta", "Register")
                </p>*@

            </fieldset>
        }


    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
